html {
  font-size: 14pt;
}

body {
  line-height: 1.45;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  font-family: "Montserrat";
  font-weight: 500;
}

h1 {
  font-size: 2.1em;
}

h2 {font-size: 2.1em;}
h3 {font-size: 1.44em;}
h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.75em;}

.container img {
  max-width: 100%;
}
.container-fluid img {
  max-width: 100%;
}

a {
  color: #5bc1fc;
  text-decoration: underline;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
a:hover {
  color: #fc5bd8;
  text-decoration: underline;
  transition-duration: 0.15s;
}

a.nocolor {
  color: inherit;
}
a.nocolor:hover {
  color: #fc5bd8;
  text-decoration: underline;
}

.meta {
  font-size: 0.75em;
}
