--- 
layout: default 
---

<div class="row">
  <div class="col">
    {% for post in paginator.posts %} 
    <div class="mb-4">

      <h2>
      <a href="{{ post.url | prepend: site.baseurl }}" class="nocolor">{{ post.title }}</a>
      </h2>

      <div>
        {{ post.content }}
      </div>

      <div class="meta">
        {% include date.html date=post.date %}
      </div>


    </div>
    {% endfor %}

    <div class="mt-5">
        <span class="">Стр. {{ paginator.page }} из {{ paginator.total_pages }}&nbsp;</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">↑ Посвежее</a>&nbsp;
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Постарее ↓</a>
        {% endif %}

      </div>
  </div>

</div>


</div>