    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter47664883 = new Ya.Metrika({
                      id:47664883,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true
                  });
              } catch(e) { }
          });
    
          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";
    
          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/47664883" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

<nav class="navbar navbar-expand mx-4">
  <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
    <img src="{{ "/images/logo.png" | prepend: site.baseurl }}" height="64">
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a href="{{ site.baseurl }}{% post_url 2018-01-08-intro %}" class="nav-link nocolor">О блоге</a></li>
    <li class="nav-item"><a href="https://t.me/{{ site.telegram_username }}" class="nav-link nocolor">Телеграм</a></li>
  </ul>

</nav>
